openapi: 3.0.3
info:
  title: Noema Next.js Public API
  version: 1.0.0
  description: |
    Contract for APIs implemented under `src/app/api`.
    This spec does not cover AWS Lambda APIs implemented in `infra/lambda/api.ts`.
servers:
  - url: https://noema-learn.uk
  - url: http://localhost:3000
paths:
  /api/catalog:
    get:
      summary: Get notebook catalog
      tags: [Catalog]
      responses:
        '200':
          description: Catalog response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Catalog'
  /api/notebooks/{notebookId}/content:
    get:
      summary: Get rendered notebook HTML fragment
      tags: [Notebooks]
      parameters:
        - in: path
          name: notebookId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: HTML content
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Notebook or notebook HTML not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/notebooks/{notebookId}/download:
    get:
      summary: Download notebook ipynb
      tags: [Notebooks]
      parameters:
        - in: path
          name: notebookId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ipynb file attachment
          content:
            application/x-ipynb+json:
              schema:
                type: string
        '404':
          description: Notebook or ipynb not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    NotebookSource:
      type: object
      required: [kind, provider, license]
      properties:
        kind:
          type: string
          enum: [noema-original, open-license-translation]
        provider:
          type: string
        license:
          type: string
        originalTitle:
          type: string
        originalUrl:
          type: string
          format: uri
        translationLanguage:
          type: string
    NotebookSummary:
      type: object
      required: [id, title, order, tags, htmlPath, colabUrl]
      properties:
        id:
          type: string
        title:
          type: string
        order:
          type: integer
        tags:
          type: array
          items:
            type: string
        htmlPath:
          type: string
        colabUrl:
          type: string
          format: uri
        videoUrl:
          type: string
          format: uri
        source:
          $ref: '#/components/schemas/NotebookSource'
    ChapterSummary:
      type: object
      required: [id, title, order, notebooks]
      properties:
        id:
          type: string
        title:
          type: string
        order:
          type: integer
        audience:
          type: string
          enum: [beginner, advanced]
        notebooks:
          type: array
          items:
            $ref: '#/components/schemas/NotebookSummary'
    Catalog:
      type: object
      required: [chapters]
      properties:
        contentSourceDefaults:
          $ref: '#/components/schemas/NotebookSource'
        chapters:
          type: array
          items:
            $ref: '#/components/schemas/ChapterSummary'
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
